<!doctype html>
<html>
	<head>
		<!--声明当前页面的编码集：charset=gbk,gb2312（中文编码），utf-8（国际编码）-->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!--声明当前页面的三要素-->
		<link type="img/x-ico" rel="icon" href="http://moonbuy.cn/mall/static/images/favicon.ico">
		<title></title>
		<meta name="keywords" content="关键词,关键词">
		<meta name="description" content="">

		<!--js/css-->
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<style>
			*{margin:0;padding:0;}
			.clear:after{content:"";display:block;clear:both;}
			ul{list-style:none;margin:0;padding:0;}
			a{text-decoration:none;color:inherit;}
		</style>
	</head>
<body>
	
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>

</script>
</body>
</html>