/*
    @Author: junjun
    @Date: 2018/2/3
    @Last Modified by: junjun
    @Last Modified time: 2018/2/3
*/
.footer{
    margin-top:20px;
    padding-bottom:10px;
}
.footer .links{
    text-align:center;
    color:#666;
    line-height:30px;
}
.footer .links .link{
    padding:0 10px;
}
.footer .copyright{
    text-align:center;
    color:#666;
    line-height:30px;
}
